{
    "url": "https://warden-hub.example.org/warden3",

    "certfile": "cert.pem",
    "keyfile": "key.pem",
    "cafile": "cacert.pem",

    "timeout": 60,
    "get_events_limit": 1000,

    "errlog": {"level": "debug"},
    "filelog": {"file": "warden_client.log", "level": "warning"},
    //"syslog": {"socket": "/dev/log", "facility": "local7", "level": "warning"},

    "idstore": "warden_client.id",

    "name": "org.example.warden_client",

    "secret": "ToP_SeCrEt"
}
