<?xml version="1.0"?>
<aggregator>
	<id name="array_example">
		<field>
			<name>SRC_IP</name>
			<type>KEY</type>
		</field>
		<field>
			<name>DST_IP</name>
			<type>KEY</type>
		</field>

		<field>
			<name>PPI_PKT_LENGTHS</name>
			<type>SORTED_MERGE</type>
			<delimiter>:</delimiter>
			<sort_key>PPI_PKT_TIMES</sort_key>
			<sort_type>DESCENDING</sort_type>
			<size>200</size>
		</field>
		<field>
			<name>PPI_PKT_TIMES</name>
			<type>SORTED_MERGE</type>
			<delimiter>:</delimiter>
			<sort_key>PPI_PKT_LENGTHS</sort_key>
			<sort_type>ASCENDING</sort_type>
			<size>200</size>
		</field>
		<field>
			<name>PPI_PKT_LENGTHS</name>
			<type>APPEND</type>
			<delimiter>:</delimiter>
			<size>200</size>
		</field>
	</id>

	<id name="basic_fields">
		<field>
			<name>SRC_IP</name>
			<type>KEY</type>
		</field>
		<field>
			<name>DST_IP</name>
			<type>KEY</type>
		</field>

		<field>
			<name>SRC_PORT</name>
			<type>SUM</type>
		</field>
		<field>
			<name>DST_PORT</name>
			<type>MIN</type>
		</field>
		<field>
			<name>PROTOCOL</name>
			<type>FIRST</type>
		</field>
		<field>
			<name>TCP_FLAGS</name>
			<type>BITAND</type>
		</field>
		<field>
			<name>BYTES</name>
			<type>AVG</type>
		</field>
		<field>
			<name>PACKETS</name>
			<type>MAX</type>
		</field>
		<field>
			<name>TTL</name>
			<type>LAST</type>
		</field>
		<field>
			<name>TOS</name>
			<type>FIRST</type>
		</field>
		<field>
			<name>DIR_BIT_FIELD</name>
			<type>BITOR</type>
		</field>
		<field>
			<name>LINK_BIT_FIELD</name>
			<type>BITOR</type>
		</field>
	</id>

	<id name="dns_specific_fields">
		<field>
			<name>SRC_IP</name>
			<type>KEY</type>
		</field>
		<field>
			<name>DST_IP</name>
			<type>KEY</type>
		</field>

		<field>
			<name>DNS_ANSWERS</name>
			<type>SUM</type>
		</field>
		<field>
			<name>DNS_RCODE</name>
			<type>MIN</type>
		</field>
		<field>
			<name>DNS_NAME</name>
			<type>APPEND</type>
			<delimiter>:</delimiter>
			<size>200</size>
		</field>
		<field>
			<name>DNS_QTYPE</name>
			<type>BITAND</type>
		</field>
		<field>
			<name>DNS_CLASS</name>
			<type>AVG</type>
		</field>
		<field>
			<name>DNS_RR_TTL</name>
			<type>MAX</type>
		</field>
		<field>
			<name>DNS_RLENGTH</name>
			<type>LAST</type>
		</field>
		<field>
			<name>DNS_PSIZE</name>
			<type>FIRST</type>
		</field>
		<field>
			<name>DNS_DO</name>
			<type>FIRST_NON_EMPTY</type>
		</field>
		<field>
			<name>DNS_ID</name>
			<type>FIRST_NON_EMPTY</type>
		</field>
	</id>

	<id name="smtp_specific_fields">
		<field>
			<name>SRC_IP</name>
			<type>KEY</type>
		</field>
		<field>
			<name>DST_IP</name>
			<type>KEY</type>
		</field>

		<field>
			<name>SMTP_FLAGS</name>
			<type>SUM</type>
		</field>
		<field>
			<name>SMTP_COMMAND_FLAGS</name>
			<type>MIN</type>
		</field>
		<field>
			<name>SMTP_MAIL_CMD_COUNT</name>
			<type>AVG</type>
		</field>
		<field>
			<name>SMTP_RCPT_CMD_COUNT</name>
			<type>BITAND</type>
		</field>
		<field>
			<name>SMTP_FIRST_SENDER</name>
			<type>APPEND</type>
			<delimiter>|</delimiter>
			<size>500</size>
		</field>
		<field>
			<name>SMTP_FIRST_RECIPIENT</name>
			<type>FIRST_NON_EMPTY</type>
		</field>
		<field>
			<name>SMTP_STAT_CODE_FLAGS</name>
			<type>LAST</type>
		</field>
		<field>
			<name>SMTP_2XX_STAT_CODE_COUNT</name>
			<type>FIRST</type>
		</field>
		<field>
			<name>SMTP_3XX_STAT_CODE_COUNT</name>
			<type>FIRST_NON_EMPTY</type>
		</field>
		<field>
			<name>SMTP_4XX_STAT_CODE_COUNT</name>
			<type>FIRST_NON_EMPTY</type>
		</field>
		<field>
			<name>SMTP_5XX_STAT_CODE_COUNT</name>
			<type>SUM</type>
		</field>
		<field>
			<name>SMTP_DOMAIN</name>
			<type>LAST_NON_EMPTY</type>
		</field>
	</id>

	<id name="sip_specific_fields">
		<field>
			<name>SRC_IP</name>
			<type>KEY</type>
		</field>
		<field>
			<name>DST_IP</name>
			<type>KEY</type>
		</field>

		<field>
			<name>SIP_MSG_TYPE</name>
			<type>SUM</type>
		</field>
		<field>
			<name>SIP_STATUS_CODE</name>
			<type>MIN</type>
		</field>
		<field>
			<name>SIP_CALL_ID</name>
			<type>APPEND</type>
			<delimiter>|</delimiter>
			<size>500</size>
		</field>
		<field>
			<name>SIP_CALLING_PARTY</name>
			<type>FIRST_NON_EMPTY</type>
		</field>
		<field>
			<name>SIP_CALLED_PARTY</name>
			<type>LAST</type>
		</field>
		<field>
			<name>SIP_VIA</name>
			<type>FIRST</type>
		</field>
		<field>
			<name>SIP_USER_AGENT</name>
			<type>FIRST_NON_EMPTY</type>
		</field>
		<field>
			<name>SIP_REQUEST_URI</name>
			<type>FIRST_NON_EMPTY</type>
		</field>
		<field>
			<name>SIP_CSEQ</name>
			<type>LAST_NON_EMPTY</type>
		</field>
	</id>

	<id name="http_elements">
		<field>
			<name>SRC_IP</name>
			<type>KEY</type>
		</field>
		<field>
			<name>DST_IP</name>
			<type>KEY</type>
		</field>

		<field>
			<name>HTTP_REQUEST_METHOD_ID</name>
			<type>SUM</type>
		</field>
		<field>
			<name>HTTP_REQUEST_HOST</name>
			<type>APPEND</type>
			<delimiter>|</delimiter>
			<size>500</size>
		</field>
		<field>
			<name>HTTP_REQUEST_URL</name>
			<type>FIRST_NON_EMPTY</type>
		</field>
		<field>
			<name>HTTP_REQUEST_AGENT_ID</name>
			<type>LAST</type>
		</field>
		<field>
			<name>HTTP_REQUEST_AGENT</name>
			<type>FIRST</type>
		</field>
		<field>
			<name>HTTP_REQUEST_REFERER</name>
			<type>FIRST_NON_EMPTY</type>
		</field>
		<field>
			<name>HTTP_RESPONSE_STATUS_CODE</name>
			<type>MAX</type>
		</field>
		<field>
			<name>HTTP_RESPONSE_CONTENT_TYPE</name>
			<type>LAST_NON_EMPTY</type>
		</field>
		<field>
			<name>HTTP_REQUEST_RANGE</name>
			<type>SUM</type>
		</field>
		<field>
			<name>HTTP_RESPONSE_TIME</name>
			<type>MIN</type>
		</field>
	</id>

	<id name="flowmon_specific_fields">
		<field>
			<name>SRC_IP</name>
			<type>KEY</type>
		</field>
		<field>
			<name>DST_IP</name>
			<type>KEY</type>
		</field>

		<field>
			<name>INVEA_VOIP_PACKET_TYPE</name>
			<type>SUM</type>
		</field>
		<field>
			<name>INVEA_SIP_CALL_ID</name>
			<type>APPEND</type>
			<delimiter>|</delimiter>
			<size>500</size>
		</field>
		<field>
			<name>INVEA_SIP_CALLING_PARTY</name>
			<type>FIRST_NON_EMPTY</type>
		</field>
		<field>
			<name>INVEA_SIP_CALLED_PARTY</name>
			<type>LAST</type>
		</field>
		<field>
			<name>INVEA_SIP_VIA</name>
			<type>FIRST</type>
		</field>
		<field>
			<name>INVEA_SIP_INVITE_RINGING_TIME</name>
			<type>MIN</type>
		</field>
		<field>
			<name>INVEA_SIP_OK_TIME</name>
			<type>MAX</type>
		</field>
		<field>
			<name>INVEA_SIP_BYE_TIME</name>
			<type>FIRST</type>
		</field>
		<field>
			<name>INVEA_SIP_RTP_IP4</name>
			<type>MAX</type>
		</field>
		<field>
			<name>INVEA_SIP_RTP_IP6</name>
			<type>MIN</type>
		</field>
		<field>
			<name>INVEA_SIP_RTP_IP6</name>
			<type>MIN</type>
		</field>
		<field>
			<name>INVEA_SIP_RTP_AUDIO</name>
			<type>BITAND</type>
		</field>
		<field>
			<name>INVEA_SIP_RTP_VIDEO</name>
			<type>BITOR</type>
		</field>
		<field>
			<name>INVEA_SIP_STATS</name>
			<type>AVG</type>
		</field>
		<field>
			<name>INVEA_RTP_CODEC</name>
			<type>FIRST</type>
		</field>
		<field>
			<name>INVEA_RTP_JITTER</name>
			<type>MIN</type>
		</field>
		<field>
			<name>INVEA_RTCP_LOST</name>
			<type>SUM</type>
		</field>
		<field>
			<name>INVEA_RTCP_PACKETS</name>
			<type>SUM</type>
		</field>
		<field>
			<name>INVEA_RTCP_OCTETS</name>
			<type>SUM</type>
		</field>
		<field>
			<name>INVEA_RTCP_SOURCE_COUNT</name>
			<type>MAX</type>
		</field>
		<field>
			<name>INVEA_SIP_USER_AGENT</name>
			<type>APPEND</type>
			<delimiter>|</delimiter>
			<size>500</size>
		</field>
		<field>
			<name>INVEA_SIP_REQUEST_URI</name>
			<type>APPEND</type>
			<delimiter>:</delimiter>
			<size>100</size>
		</field>
	</id>

	<id name="heartbeat_detection_fields">
		<field>
			<name>SRC_IP</name>
			<type>KEY</type>
		</field>
		<field>
			<name>DST_IP</name>
			<type>KEY</type>
		</field>

		<field>
			<name>HB_TYPE</name>
			<type>MAX</type>
		</field>
		<field>
			<name>HB_DIR</name>
			<type>BITAND</type>
		</field>
		<field>
			<name>HB_SIZE_MSG</name>
			<type>SUM</type>
		</field>
		<field>
			<name>HB_SIZE_PAYLOAD</name>
			<type>LAST</type>
		</field>
	</id>

	<id name="other_fields">
		<field>
			<name>SRC_IP</name>
			<type>KEY</type>
		</field>
		<field>
			<name>DST_IP</name>
			<type>KEY</type>
		</field>

		<field>
			<name>FLOWDIR_SYN</name>
			<type>MAX</type>
		</field>
		<field>
			<name>IPV6_TUN_TYPE</name>
			<type>BITAND</type>
		</field>
		<field>
			<name>APP_ID</name>
			<type>FIRST</type>
		</field>
	</id>

	<id name="flowmon_tls_fields">
		<field>
			<name>SRC_IP</name>
			<type>KEY</type>
		</field>
		<field>
			<name>DST_IP</name>
			<type>KEY</type>
		</field>

		<field>
			<name>TLS_CONTENT_TYPE</name>
			<type>MIN</type>
		</field>
		<field>
			<name>TLS_HANDSHAKE_TYPE</name>
			<type>MAX</type>
		</field>
		<field>
			<name>TLS_SETUP_TIME</name>
			<type>SUM</type>
		</field>
		<field>
			<name>TLS_SERVER_VERSION</name>
			<type>LAST</type>
		</field>
		<field>
			<name>TLS_SERVER_RANDOM</name>
			<type>FIRST</type>
		</field>
		<field>
			<name>TLS_SERVER_SESSIONID</name>
			<type>FIRST</type>
		</field>
		<field>
			<name>TLS_CIPHER_SUITE</name>
			<type>MAX</type>
		</field>
		<field>
			<name>TLS_ALPN</name>
			<type>FIRST_NON_EMPTY</type>
		</field>
		<field>
			<name>TLS_SNI</name>
			<type>LAST_NON_EMPTY</type>
		</field>
		<field>
			<name>TLS_SNI_LENGTH</name>
			<type>MIN</type>
		</field>
		<field>
			<name>TLS_CLIENT_VERSION</name>
			<type>MIN</type>
		</field>
		<field>
			<name>TLS_CIPHER_SUITES</name>
			<type>BITAND</type>
		</field>
		<field>
			<name>TLS_CLIENT_RANDOM</name>
			<type>BITOR</type>
		</field>
		<field>
			<name>TLS_CLIENT_SESSIONID</name>
			<type>BITAND</type>
		</field>
		<field>
			<name>TLS_EXTENSION_TYPES</name>
			<type>MIN</type>
		</field>
		<field>
			<name>TLS_EXTENSION_LENGTHS</name>
			<type>MAX</type>
		</field>
		<field>
			<name>TLS_ELLIPTIC_CURVES</name>
			<type>SUM</type>
		</field>
		<field>
			<name>TLS_EC_POINTFORMATS</name>
			<type>SUM</type>
		</field>
		<field>
			<name>TLS_CLIENT_KEYLENGTH</name>
			<type>AVG</type>
		</field>
		<field>
			<name>TLS_ISSUER_CN</name>
			<type>FIRST</type>
		</field>
		<field>
			<name>TLS_SUBJECT_CN</name>
			<type>APPEND</type>
			<delimiter>|</delimiter>
			<size>500</size>
		</field>
		<field>
			<name>TLS_SUBJECT_ON</name>
			<type>APPEND</type>
			<delimiter>:</delimiter>
			<size>100</size>
		</field>
		<field>
			<name>TLS_VALIDITY_NOTBEFORE</name>
			<type>SUM</type>
		</field>
		<field>
			<name>TLS_VALIDITY_NOTAFTER</name>
			<type>SUM</type>
		</field>
		<field>
			<name>TLS_SIGNATURE_ALG</name>
			<type>SUM</type>
		</field>
		<field>
			<name>TLS_PUBLIC_KEYALG</name>
			<type>SUM</type>
		</field>
		<field>
			<name>TLS_PUBLIC_KEYLENGTH</name>
			<type>SUM</type>
		</field>
		<field>
			<name>TLS_JA_3FINGERPRINT</name>
			<type>MIN</type>
		</field>
	</id>
</aggregator>
