Source: nemea-modules
Section: unknown
Priority: extra
Maintainer: CESNET <nemea@cesnet.cz> 
Build-Depends: autotools-dev, libtrap-dev, unirec, nemea-common-dev, zlib1g-dev, python
	debhelper (>=9)
Standards-Version: 3.9.5
Homepage: https://github.com/CESNET/Nemea-modules
Vcs-Git: https://github.com/CESNET/Nemea-modules
Vcs-Browser: https://github.com/CESNET/Nemea-modules/

Package: nemea-modules
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: The package contains NEMEA modules for filtering, aggregation, reporting etc.

Package: nemea-modules-dev
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: Libraries for NEMEA modules (currently liburfilter).
   Development files only.
