#LINK_BIT_FIELD(uint64),NAME(string),UR_FIELD(string),COLOR(hex value/integer)
0,nix2,LINK_BIT_FIELD,99a0A9
1,nix3,LINK_BIT_FIELD,af69bc
2,telia,LINK_BIT_FIELD,776655
3,geant,LINK_BIT_FIELD,008000
4,amsix,LINK_BIT_FIELD,af99dc
5,sanet,LINK_BIT_FIELD,1e90ff
6,aconet,LINK_BIT_FIELD,490099
7,pioneer,LINK_BIT_FIELD,ff0000
